// Fade in effect on element. Can be nice for things such as carts
@keyframes fade-in{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

// Slide up effect with opacity for rendering modals
@keyframes slide-up{
  0%{ 
    top: 3rem;
    opacity: 0;
  }
  100%{ 
    top: 0rem;
    opacity: 1;
  }
}

// Change the gradient of the colors assuming the background size is big enough
@keyframes gradient{
    0%{ background-position: 0% 0%; }
    50%{ background-position: 100% 100%; }
    100%{ background-position: 0% 0%; }
}

// Pulse hover effect
@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.05); }
    100%{ transform: scale(1); }
}

// Spin effect
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

// Standard transition
$standard_transition: all 0.15s linear;