@import "./branding";

button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background: $purple_gradient;
    color: white;
    animation: gradient 4s linear infinite;
    background-size: 400% 400%;
    border: 0;
    translate: all 0.15s linear;

    @include state(){
        background-color: $gradient_color_two;
        border-color: $gradient_color_two;
        transform: scale(1.05);  
    }
}